In [3]:
# connect to mysql
import pymysql
import pandas as pd
import numpy as np

connection = pymysql.connect(host='gz.hsh.moe', user='hsh', password='Qwe159357123')

In [5]:
# check if the database exists

db_name = 'douban'
cursor = connection.cursor()
cursor.execute('show databases')
db_list = cursor.fetchall()
db_list = [x[0] for x in db_list]
if db_name not in db_list:
    print('database %s does not exist' % db_name)
    cursor.execute('create database %s' % db_name)
    connection.commit()
else:
    print('database %s exists' % db_name)

database douban exists

In [7]:
# check if the table exists
def check_and_create_table(table_name):
    cursor.execute('use %s' % db_name)
    cursor.execute('show tables')
    table_list = cursor.fetchall()
    table_list = [x[0] for x in table_list]
    if table_name not in table_list:
        print('table %s does not exist' % table_name)
        cursor.execute('create table %s (id int primary key auto_increment)' % table_name)
        connection.commit()
        print('table %s created' % table_name)
    else:
        print('table %s exists' % table_name)

check_and_create_table('movie')
check_and_create_table('book')
check_and_create_table('music')

table movie exists
table book exists
table music exists

In [23]:
# movie

# read data from csv
movie = pd.read_csv('analysis/MovieDouban250.csv', index_col=0)
movie.head()

movie_columns = ['title', 'url', 'rating', 'rating_num', 'director', 'actor', 'year', 'country', 'category']
# check if the data exists in the table
cursor.execute('use %s' % db_name)
cursor.execute('select * from movie')

# add columns if the table has no columns
if len(cursor.description) == 1:
    print('table movie has no columns')
    for column in movie_columns:
        sql = 'alter table movie add %s varchar(255)' % column
        cursor.execute(sql)
        connection.commit()
    print('columns added')
else:
    print('table movie has columns')
    print('columns: ', end='')
    for column in cursor.description:
        print(column[0], end=' ')

# if the table is empty, insert the data

if len(cursor.fetchall()) == 0:
    print('table movie is empty')
    for i in range(len(movie)):
        row = movie.iloc[i]
        sql = 'insert into movie (title, url, rating, rating_num, director, actor, year, country, category) \
        values ("%s", "%s", %f, %d, "%s", "%s", "%s", "%s", "%s")' % \
        (row['电影名称'], row['电影链接'], row['电影评分'], int(row['评分人数']), row['导演'], row['主演'], row['上映年份'], row['国家'], row['类型'])
        cursor.execute(sql)
        connection.commit()
    print('data inserted')
else:
    print('table movie is not empty')

table movie has columns
columns: id title url rating rating_num director actor year country category table movie is empty
data inserted

In [25]:
# book

# read data from csv
book = pd.read_csv('analysis/BookDouban250.csv', index_col=0)
book.head()

book_columns = ['title', 'url', 'author', 'translator', 'publisher', 'date', 'price', 'rating', 'rating_num', 'comment']
# check if the data exists in the table
cursor.execute('use %s' % db_name)
cursor.execute('select * from book')

# add columns if the table has no columns
if len(cursor.description) == 1:
    print('table book has no columns')
    for column in book_columns:
        sql = 'alter table book add %s varchar(255)' % column
        cursor.execute(sql)
        connection.commit()
    print('columns added')
else:
    print('table book has columns')
    print('columns: ', end='')
    for column in cursor.description:
        print(column[0], end=' ')

# if the table is empty, insert the data

if len(cursor.fetchall()) == 0:
    print('table book is empty')
    for i in range(len(book)):
        row = book.iloc[i]
        sql = 'insert into book (title, url, author, translator, publisher, date, price, rating, rating_num, comment) \
        values ("%s", "%s", "%s", "%s", "%s", "%s", "%s", %f, %d, "%s")' % \
        (row['书名'], row['豆瓣链接'], row['作者'], row['译者'], row['出版社'], row['出版日期'], row['价格'], row['评分'], int(row['评分人数']), row['一句话评价'])
        cursor.execute(sql)
        connection.commit()
    print('data inserted')
else:
    print('table book is not empty')

table book has no columns
columns added
table book is empty
data inserted

In [29]:
# music

# read data from csv
music = pd.read_csv('analysis/musicDouban250.csv', index_col=0)
music.head()

music_columns = ['album', 'url', 'rating', 'rating_num', 'singer', 'date', 'type', 'media', 'style']
# check if the data exists in the table
cursor.execute('use %s' % db_name)
cursor.execute('select * from music')

# add columns if the table has no columns
if len(cursor.description) == 1:
    print('table music has no columns')
    for column in music_columns:
        sql = 'alter table music add %s varchar(255)' % column
        cursor.execute(sql)
        connection.commit()
    print('columns added')
else:
    print('table music has columns')
    print('columns: ', end='')
    for column in cursor.description:
        print(column[0], end=' ')

# if the table is empty, insert the data

if len(cursor.fetchall()) == 0:
    print('table music is empty')
    for i in range(len(music)):
        row = music.iloc[i]
        sql = 'insert into music (album, url, rating, rating_num, singer, date, type, media, style) \
        values ("%s", "%s", %f, %d, "%s", "%s", "%s", "%s", "%s")' % \
        (row['专辑名称'], row['专辑链接'], row['专辑评分'], int(row['评分人数']), row['歌手'], row['发行日期'], row['类型'], row['介质'], row['曲风'])
        cursor.execute(sql)
        connection.commit()
    print('data inserted')

table music has columns
columns: id album url rating rating_num singer date type media style table music is empty
data inserted